body {
  background-color: #fcde75;
}
  
.input-group-addon {
  font-size: 0.7rem;
  padding: .5rem .75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  color: #495057;
  text-align: center;
  background-color: #e9ecef;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}  

.sqs-layout > .sqs-row {
  margin-left: 0;
  margin-right: 0;
}
  
.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

.embed-responsive .embed-responsive-item,
.embed-responsive video {
  top: -15% !important;
  height: auto  !important;
}
  
#show-blurb {
  padding-top: 30px;
}

#legal-blurb {
  padding-top: 10px;
}

#show-blurb,
#legal-blurb {
  font-size: 1.25rem;
  font-weight: 300;
}

#show-blurb h1 {
  color: #fa4ba9;
  font-weight: 900;
  text-transform: uppercase;
}

#eme-solicit .solicit-title,
#eme-solicit .solicit-description {
  display: none;
}

#eme-solicit .solicit-title {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 2rem;
}

#eme-solicit .full-name-group h4 {
  color: #000;
  font-size: 1rem;
  font-weight: 600;
}

#eme-solicit h4 {
  color: #fa4ba9;
  font-size: 1.4rem;
  margin-bottom: 0;
  font-weight: 900;
  text-transform: uppercase;
}

#eme-solicit .alert {
  padding: .75rem 0rem 0rem 0rem;
}

#eme-solicit .alert-secondary {
  color: #464a4e;
  background-color: #fff;
  border-color: #fff;
}
#eme-solicit .mb-4 {
  margin-bottom: 1.5rem !important;
  padding: 5% 10%;
  background-color: #fff;
  border-radius: 8px;
}

#eme-solicit .text-muted {
  color: #333 !important;
}

@media only screen and (min-width : 768px) {
 
  #eme-solicit #mobile-anchor {
    float: left;
    padding-right: .5rem;
    width: 50%;
  }

  #eme-solicit #home-anchor {
    float: left;
    padding-left: .5rem;
    width: 50%;  
  }

  #eme-solicit #body-type-anchor {
    float: left;
    padding-right: .5rem;
    width: 50%;  
  }

  #eme-solicit #height-anchor {
    float: left;
    padding-left: .5rem;
    width: 50%;  
  }

  #eme-solicit #have-children-anchor {
    float: left;
    padding-right: .5rem;
    width: 50%;    
  }

  #eme-solicit #want-children-anchor {
    float: left;
    padding-left: .5rem;
    width: 50%;   
  }

  #eme-solicit #photo-anchor {
    float: left;
    padding-right: .5rem;
    width: 50%;   
  }

  #eme-solicit #photo-anchor-1 {
    float: left;
    padding-left: .5rem;
    width: 50%;  
  }

  #eme-solicit #partner-age-min-anchor {
    float: left;
    padding-right: .5rem;
    width: 50%;
  }

  #eme-solicit #partner-age-max-anchor {
    float: left;
    padding-left: .5rem;
    width: 50%;
  }

  #eme-solicit #partner-height-min-anchor {
    float: left;
    padding-right: .5rem;
    width: 50%;
  }

  #eme-solicit #partner-height-max-anchor {
    float: left;
    padding-left: .5rem;
    width: 50%;
  }

  #eme-solicit #partner-children-anchor {
    float: left;
    padding-right: .5rem;
    width: 50%;
  }

  #eme-solicit #partner-smoke-anchor {
    float: left;
    padding-left: .5rem;
    width: 50%;
  }
}
  
#eme-solicit #partner-age-max-anchor label {
    color: #fff;
}

@media only screen and (max-width : 576px) {
  #show-blurb h1 {
    font-size: 2rem;
    line-height: 1;
  }
  .lead {
    font-size: 1.1rem;
  }  
  .form-control-file {
  	width: 100%;
  }
  #eme-solicit .mb-4 {
    padding: 15px 17px 20px 17px;
  }  
}
